In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("word-meaning-examples.csv")

In [4]:
df.head()

,Word,Meaning,Examples/0,Examples/1,Examples/2,Examples/3,Examples/4,Examples/5,Examples/6,Examples/7,Examples/8,Examples/9
0,A bed of roses,a phrase used to reference a situation that is...,The poor orphan’s life hasn’t been a bed of ro...,"Because Mark studied for many weeks, taking th...",The stressed business owner quickly realized t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A Priori,something that is believed to be true without ...,Religious people have the a priori belief that...,The jaded woman made a priori assumptions that...,Christopher Columbus had the a priori belief t...,People make a priori assumptions that the sun ...,Lawyers use a priori arguments about their def...,NaN,NaN,NaN,NaN,NaN
2,Aardvark,"a large, long-eared nocturnal animal that uses...",The long-eared aardvark slept all day and ate ...,"With its rabbit like ears and piglike snout, t...","Living a solitary nightlife, the African aardv...",The aardvark is a snouty mammal that dines hea...,"Though it is a small mammal, the closest relat...",NaN,NaN,NaN,NaN,NaN
3,Aback,in amazement; shocked,I was taken aback by the server’s rude comment...,"While Amy enjoyed the film as a whole, as a mi...",Ken believed he had a great marriage so he was...,"At seventy years of age, Wanda was taken aback...",Although I had been exercising daily and eatin...,NaN,NaN,NaN,NaN,NaN
4,Abaft,toward the stern; behind,The wind was abaft which made the ship glide f...,They placed the lifeboats in the rear part of ...,My first sailing lesson was learning that abaf...,"The sea spray was coming from abaft, making my...",I was told to sit abaft to lessen my seasickne...,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns = df.columns.str.replace("/", "_").str.lower()

In [9]:
df.head(1)

,word,meaning,examples_0,examples_1,examples_2,examples_3,examples_4,examples_5,examples_6,examples_7,examples_8,examples_9
0,A bed of roses,a phrase used to reference a situation that is...,The poor orphan’s life hasn’t been a bed of ro...,"Because Mark studied for many weeks, taking th...",The stressed business owner quickly realized t...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df = df[["word", "meaning", "examples_0", "examples_2", "examples_3"]]

In [13]:
df.to_csv("words_cut.csv")
df.to_json("words_cut.json")